---
import MainLayout from '../layouts/MainLayout.astro';
const title = 'PixiJs + React + Astro';
---

<MainLayout>
  <h1 class="text-4xl font-bold mb-4">{title}</h1>
  <a href="/helloworld/" class="text-blue-400 underline"
    >Hello World</a
  >
  <a href="/basictext/" class="text-blue-400 underline">Basic Text</a>
  <a href="/rotatingbunny/" class="text-blue-400 underline"
    >Rotating Bunny</a
  >
  <a href="/pingpongbunny/" class="text-blue-400 underline"
    >Pingpong Bunny</a
  >
</MainLayout>
