---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
  </head>
  <body class="bg-violet-900 h-screen w-screen overflow-hidden">
    <slot />
    <!-- your content is injected here -->
  </body>
</html>
